.controlsParent {
  /* width: 100vw; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.sideMenu {
  width: 240px;
  background-color: rgb(217, 217, 217);
  height: 100%;
  text-decoration: none !important;
  /* border: 1px solid red; */
}
.mainMenu {
  width: calc(100% - 250px);
  /* background-color: grey; */
  height: 100%;
  /* text-align: right; */
  display: flex;
  justify-content: center;
}

.menuItem {
  color: white;
  width: 75%;
  text-align: left;
  padding: 15px 30px;
  transition: 0.3s;
  /* text-decoration: none; */
}
.menuItem:hover {
  color: black;
  background-color: rgb(18, 16, 16);
}
.link{
  text-decoration: none;
  padding: 20px;
}